<!-- admin: 
	edits to groupnames:
	- add 
	- remove
	- rename
	edits to db tables for a given groupname:
	- remove
	- rename
	edits to specific table for a groupname:
	- remove rows
	- want to sort by column
	- download buttons?
	download metrics (sql or csv)
--> 

<html>
	<head>  
		<meta charset='UTF-8' name='viewport' content='width=device-width, user-scalable=no'> 
		<title>CHiMaD - admin</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />
		<link rel='stylesheet' type='text/css' href='static/css/table.css' />

		<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKMQ8GLNT1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-KKMQ8GLNT1');
        </script>

	</head>

	<body>
		<div id='branding' style='width:100%;'>
			<div style='padding:0.1vw'>
				<img id='CHiMaDLogo' src='static/images/ChiMaD_Final_wname-transparent.png' style='width:60vw'>
				<a href="/admin_logout"><button class='secondaryButton' style='position:absolute; top:10px; right:10px'>admin logout</button></a>


				<hr class='simpleLine'>
				<div style='font-size:4vw; font-weight:bold; padding-left:0.5vw'>CHiMaD System Design Toolbox</div>
				<div style='font-size:2.5vw; font-style:italic; padding-left:1vw; line-height:3vw'>Admin Tools</div>
				<hr class='simpleLine'>			
			</div>
		</div>

		<div id='admin' class='para' style='margin-left:20px; margin-top: 40px; font-size:14px'>


				<div id='addGroupname'  style='margin-bottom:40px'>
					<div id="groupnameInstructions" class="instructions">To add a new group, enter a unique name below without any spaces or special characters and click Add.</div>
					<label for="groupnameTextInput" id="groupnameTextLabel">group name:</label>
					<input type="text" id="groupnameTextInput" name="groupname">

					<button class='secondaryButton' style='margin-left:10px' onclick="addGroupname()">Add</button>
					<div id="groupnameNotification" class="notifications" style="margin-top:20px"></div>

				</div>

				<div id='editGroupname' style='margin-bottom:40px'>
					<div id='groupnameSelector'>
						<div id="groupnameInstructions" class="instructions">To edit or remove a group, begin by selecting the group name from the list below. </div>
					</div>
					<div id='editGroupnameButtons' style='visibility:hidden'>
						<span style='margin-left:10px; font-size:80%'>To rename this group, enter a new name and click Rename.</span>
						<input type="text" id="renameGroupnameTextInput">
						<button class='secondaryButton' onclick="renameGroupname()">Rename</button>
						<div id="renameGroupnameNotification" class="notifications" style="margin-left:10px"></div>
						<br/>

						<span style='margin-left:10px; font-size:80%'>Click here to delete this group.</span>
						<button class='secondaryButton' onclick="deleteGroupname()">Delete</button>
						<div id="deleteGroupnameNotification" class="notifications" style="margin-left:10px"></div>
						<br/>

						<span style='margin-left:10px; font-size:80%'>Click here to download this group's SQL database.</span>
						<button class='secondaryButton' onclick='downloadGroupSQL()'>.db</button>
					</div>
				</div>

				<div id='editParagraph' style='margin-bottom:40px'>

					<div id='paragraphnameSelector' style='margin-bottom:20px'>
						<div id="paragraphnameInstructions" class="instructions">To edit or remove a paragraph within this group, begin by selecting the paragraph name from the list below.  </div>
					</div>
					<div id='editParagraphButtons' style='visibility:hidden'>
						<span style='margin-left:10px; font-size:80%'>To rename this paragraph, enter a new name and click Rename.</span>
						<input type="text" id="renameParagraphTextInput">
						<button class='secondaryButton' onclick="renameParagraph()">Rename</button>
						<div id="renameParagraphNotification" class="notifications" style="margin-left:10px"></div>
						<br/>

						<span style='margin-left:10px; font-size:80%'>Click here to delete this paragraph.</span>
						<button class='secondaryButton' onclick="deleteParagraph()">Delete</button>
						<div id="deleteParagraphNotification" class="notifications" style="margin-left:10px"></div>
						<br/>

						<div id='paragraphTableEditorDiv'>
							<div style='margin-left:10px; margin-bottom: 10px; font-size:80%; line-height:120%'>To remove rows from the table, left-click each row you would like to remove (they will be highlighted in gray), and then click the "Remove" button below.  To use answers from a particular user as the global answers for this paragraph, right-click on a single row (it will be highlighted in turqoise), and then click the "Set Answers" button below. Also note that clicking on a column header will sort the table by that column.</div>
							<div id='paragraphTableEditor'></div>
							<button class='secondaryButton' style='margin-top:10px' onclick="deleteParagraphRows()">Remove</button>
							<div id="deleteParagraphRowsNotification" class="notifications" style="margin-left:10px; margin-top:5px"></div>
							<button class='secondaryButton' style='margin-top:10px' onclick="setParagraphAnswersFromRow()">Set Answers</button>
							<div id="setParagraphAnswersFromRowNotification" class="notifications" style="margin-left:10px; margin-top:5px"></div>
						</div>

						<span style='margin-left:10px; margin-top: 10px; font-size:80%'>Click here to download the responses to this paragraph in .csv format.  (For SQL format, please download the full group.).</span>
						<button class='secondaryButton' onclick='downloadParagraphCSV()'>.csv</button>

					</div>
	
				</div>

				<div id='copyParagraph' style='margin-bottom:40px'>

					<div id='groupname2Selector'>
						<div id="groupname2Instructions" class="instructions">To copy a paragraph from another group into this group, begin by selecting the second group name from the list below. </div>
					</div>
					 <div id='copyParagraphSelectors' style='visibility:hidden; margin-bottom:20px; font-size:80%'>
						<div id='paragraphname2Selector'>
							<span id="paragraphname2Instructions">Please select a paragraph from this second group :</span>

						</div>
						<div id="selectParagraph2Notification" class="notifications" style="margin-left:10px"></div>

						<div id='copyParagraphButton' style='visibility:hidden'>
							<span>To copy paragraph "<span style='font-weight: bold' id='paragraph2text'>UNKNOWN</span>" from group "<span style='font-weight: bold' id='groupname2text'>UNKOWN></span>" into group "<span style='font-weight: bold' id='groupname1text'>UNKNOWN</span>", please click Copy.</span>
							<button class='secondaryButton' onclick="copyParagraph()">Copy</button>
							<div id="copyParagraphNotification" class="notifications" style="margin-left:10px"></div>
						</div>
					</div>
	
				</div>

				<div id='downloadMetrics' >
					<div id="paragraphnameInstructions" class="instructions">Use the buttons below to download the login metrics database in either SQL (.db) or .csv format.  </div>
					<a href="/download_metricsSQL"><button class='secondaryButton'>.db</button></a>
					<a href="/download_metricsCSV"><button class='secondaryButton'>.csv</button></a>

				</div>
		</div>

		<!-- Libraries -->
		<script src='static/lib/d3.v6.min.js'></script>
		<script src="static/lib/jquery-3.5.1.min.js"></script> <!--  for AJAX -->

		<!-- my codes -->
		<script src="static/js/params.js"></script>
		<script src="static/js/resize.js"></script>
		<script src="static/js/utils.js"></script>
		<script src="static/js/formHandler.js"></script>
		<script src="static/js/reader.js"></script>
		<script src="static/js/admin.js"></script>

		<script>
			if ({{ inDesktopApp|tojson|safe }}){
				console.log('running in desktop app')
				var script = document.createElement("script");  
				script.src = 'static/js/forFlaskWebGUI.js';
				document.body.appendChild(script);  
			}

		</script>

	</body>
</html>
