<html>
	<head>  
		<meta charset='UTF-8' name='viewport' content='width=device-width, user-scalable=no'> 
		<title>CHiMaD</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />

	</head>

	<body>

		<!-- add in the login button, dropdown and branding -->
		<div id='login' class='modal' style='display:none'></div>
		<div id='branding' style='width:100%;'></div>
		<script src='static/js/addHeader.js'></script>
		<script>
			document.getElementById('brandingContainer').innerHTML += "\
				<div style='font-size:2.5vw; font-style:italic; padding-left:1vw; line-height:3vw'>Getting Started</div>\
				<hr class='simpleLine'>\
			"
		</script>

		<!-- page content -->
		<div id='docs' style='margin-left:20px; margin-top: 40px; font-size:1.5vw'>

			<p>We are in the process of developing detailed written instructions for getting started using this tool.  For now, please see the video below that shows how to use the individual section to create a system design chart from scratch.  </p>

			<br>
			<div class='videoWrapper' style='margin-right: 20px;'>
				<iframe width="1920" height="1080" src="https://www.youtube.com/embed/8vrRrzhaX4g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			
			</div>
		</div>

		<!-- Libraries -->
		<script src='static/lib/d3.v6.min.js'></script>
		<script src="static/lib/jquery-3.5.1.min.js"></script> <!-- for AJAX and slider -->

		<!-- my codes -->
		<script src="static/js/formHandler.js"></script>
		<script src="static/js/reader.js"></script>
		<script src="static/js/utils.js"></script>
		<script src="static/js/params.js"></script>

		<script>
			if ({{ inDesktopApp|tojson|safe }}){
				console.log('running in desktop app')
				var script = document.createElement("script");  
				script.src = 'static/js/forFlaskWebGUI.js';
				document.body.appendChild(script);  
			}

			readURLdata();
			if ('groupname' in params.URLInputValues) setGroupname(decodeURI(params.URLInputValues.groupname));
			loadTable('available_dbs.db', 'dbs', compileAvailableGroupnames);

		</script>
		
	</body>
</html>