<html>
	<head>  
		<meta charset='UTF-8' name='viewport' content='width=device-width, user-scalable=no'> 
		<title>CHiMaD</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />

	</head>

	<body>
		<!-- add in the login button, dropdown and branding -->
		<div id='login' class='modal' style='display:none'></div>
		<div id='branding' style='width:100%;'></div>
		<script src="static/js/addHeader.js"></script>

		<!-- page content -->
		<div id='bgimg' class='crop-bg-img' style='display:flex; align-items:center'>
			<a class='simpleLink' onclick='toCollaborate()'>
				<div class='landing-button main-landing-button'>
					<div>Collaborate: Think or Train Together</div>
				</div>
			</a>
			<a class='simpleLink' onclick='toIndividual()'>
				<div class='landing-button main-landing-button '>
					<div>Individual: Build Your Own System</div>
				</div>
			</a>
			<a class='simpleLink' onclick='toCustomize()'>
				<div class='landing-button main-landing-button'>
					<div>Customize: Edit and Export Your System Design Chart</div>
				</div>
			</a>
		</div>
		<div id='imgCredit' style='width:100%;'>
			<!-- <div style='font-size:1.7vh;  padding:0.5vw; font-style:italic'>Image credit: M. Reyes-Martinez, E. Chan; J. J. de Pablo, S. R. Nagel, H. M. Jaeger [Impact use-case paragraph]</div> -->
			<!-- <div style='font-size:1.7vh;  padding:0.5vw; font-style:italic'>Image credit: </div> -->
			<div style='font-size:1.7vh;  padding:0.5vw; font-style:italic'>This work was performed under the following financial assistance award 70NANB19H005 from U.S. Department of Commerce, National Institute of Standards and Technology as part of the Center for Hierarchical Materials Design (CHiMaD). </div>

		</div>

		<!-- Libraries -->
		<script src='static/lib/d3.v6.min.js'></script>
		<script src="static/lib/jquery-3.5.1.min.js"></script> <!-- for AJAX and slider -->

		<!-- my codes -->
		<script src="static/js/formHandler.js"></script>
		<script src="static/js/reader.js"></script>
		<script src="static/js/utils.js"></script>
		<script src="static/js/params.js"></script>

		<script>
			if ({{ inDesktopApp|tojson|safe }}){
				console.log('running in desktop app')
				var script = document.createElement("script");  
				script.src = 'static/js/forFlaskWebGUI.js';
				document.body.appendChild(script);  
			}

			window.onload = setTimeout(resizeIndex, 500); //sometimes the top bar doesn't size right away
			window.addEventListener('resize', resizeIndex);
			function resizeIndex(){
				var topBarBbox = document.getElementById('branding').getBoundingClientRect();
				var botBarBbox = document.getElementById('imgCredit').getBoundingClientRect();
				var bgimg = document.getElementById('bgimg');
				bgimg.style.height = (window.innerHeight - topBarBbox.height - botBarBbox.height - 2) + 'px';
			}

			readURLdata();
			if ('groupname' in params.URLInputValues) setGroupname(decodeURI(params.URLInputValues.groupname));
			loadTable('available_dbs.db', 'dbs', compileAvailableGroupnames);
			
		</script>

	</body>
</html>