<html>
	<head>  
		<meta charset='UTF-8' name='viewport' content='width=device-width, user-scalable=no'> 
		<title>CHiMaD</title>
		<link rel='stylesheet' type='text/css' href='static/css/index.css' />

	</head>

	<body style='background-color:rgba(0,0,0,0.2)'>
		<div style='width:100%;'>
			<div style=' padding:10px'>
				<a href="https://chimad.northwestern.edu/"><img src='static/images/ChiMaD_Final_wname-transparent.png' style='height:15vh'></a>
				<hr>
				<div style='font-size:5vh;font-weight:bold;'> System Design Chart Tools </div>
			</div>
		</div>
		<div class='crop-bg-img'></div>
		<div style='width:100%;'>
			<div style='font-size:1.5vh;  padding:10px; font-style:italic'>Image credit: M. Reyes-Martinez, E. Chan; J. J. de Pablo, S. R. Nagel, H. M. Jaeger [Impact use-case group]</div>
		</div>

	</body>
</html>