:root {
	--processing-color: #F1CCB1;
	--structure-color: #B1D095;
	--properties-color: #B8C7E4;
	--performance-color: #B8A0E9;
}

html,body {
	font: 12px sans-serif;
	font-family: sans-serif;
	padding:0;
	margin:0;
	background-color : white;
	overflow: auto;
	color: black;
	/*height:100%;*/
}

.leftColumn {
	position: absolute;
	top: 0;
	left:0;
	width:1000px;
}
.centerLine{
	position:absolute;
	top:1%;
	left:1000px;
	height:98%;
	border-right: 4px solid #274d7e;
	border-left: 4px solid #274d7e;
	border-radius: 4px;
}
.rightColumn{
	position: absolute;
	top:0;
	left:1000px;
	width:1000px;

}
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
.button {
	display: inline-block;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #274d7e;
	border: none;
	border-radius: 15px;
	box-shadow: 0 6px #999;
}

.button:hover {background-color: #172e4c}

.button:active {
	background-color: #172e4c;
	box-shadow: 0 3px #666;
	transform: translateY(3px);
}

.para{
	margin:20px;
	font-size:20px;
	line-height:38px;
	text-align: justify;
	text-justify: inter-word;
}

.instructions{
	color:#274d7e;
	font-weight:bold;
	font-style: italic;
	font-size:16px;
	line-height:18px;
	margin-bottom:10px;
}

.selectionWord{
	color: gray;
	font-weight:bold;
	border: 2px solid lightgray;
	border-radius: 6px;
	cursor: pointer;
	padding:4px;
}
.selectionWord select{
/*	border: 0;
	width:20px;
	height:15px;*/
	cursor:pointer;
	position:absolute;
	overflow:hidden;
}

.hidden{
	display:none;
}

.processingWord{
	color: var(--processing-color);
	font-style: italic;
	font-weight:bold;
}
.structureWord{
	color: var(--structure-color);
	font-weight:bold;
}
.propertyWord{
	color: var(--properties-color);
	text-decoration: underline;
	font-weight:bold;
}
.performanceWord{
	color: var(--performance-color);
	font-style: italic;
	text-decoration: underline;
	font-weight:bold;
}

.notifications{
	color:gray;
	font-style:italic;
}
.blink_me{
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker{
  50% {
    opacity: 0;
  }
}

.error{
	color:red;
}
.errorBorder{
	border-color:red;
}

#tooltip{
	position:absolute;
	/*border: 1px solid black;
	border-radius:5px;
	background-color:#E8E8E8;*/
	color:black;
	z-index:10;
	opacity:0;
	padding:2px;
}

.wrong{
	font-style: italic;
	fill: #d92b9c;
}
/*.wrong::before {
	content: "**";
}
.wrong::after {
	content: "**";
}*/